body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100% !important;
}
#page{	
	background-color: Blue;
}

#header {
	background-color: Orange;
	height: 200px;	
}
#content {
	background-color: Green;	
}
#footer {
	background-color: Purple;
	height: 150px;
}	