/* Thumb */
.beekThumb
{
	float: left;
	margin: 5px 20px 5px 5px;
}
.beekThumb .coverArt
{
	float: left;
	margin-right: 5px;
}
.beekThumb .title
{
	font-weight: bold;
	font-size: large;
}
.beekThumb .author
{
	font-size: small;
}


/* Detail */
#beekDetail
{
	cursor: default;
	padding: 0 5px 0 5px;
}
.display-label
{
	float: left;
	width: 80px;
	padding-right: 5px;
	clear: left;
}
.display-label
{
	float: left;
	clear: right;
}

