html, body
{
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
	background-color: #272222;
	background-image: url("../../content/pics/bgndStripes.png");
	font-family: "century gothic";
}
a{ font-size: small; }
a:hover { color: #E70505; }
#page
{
	width: 780px;
	height: 100%;
	margin: 0 auto 0px auto;
	background-color: White;
}
/***********HEADER****************/
#header
{
	height: 150px;
	background-color: #272222;
	background-image: url("../../content/pics/bgndStripes.png");
}
#header a
{
	text-decoration: none;
}
#logo
{
	width: 150px;
	height:150px;
	float: left;
	background-image: url("../../content/pics/logo.jpg");
	border-bottom: 1px solid black;
}
#navigation
{
	margin-top: 10px;
	width: 630px; /*780-150 = 630*/
	height: 140px;
	background-color: White;
	float: left;
	z-index: -1;
	border-bottom: 1px solid black;
}

/************navLogin***********************/
#navLoginForm
{
	text-align: left;
	float: left;
	width: 100%;
}
#navLoginInputs
{
	float: left;
	padding-left: 10px;
}
#navLoginForm input[type="image"]
{	
	float: right;
	width: 32px;
}
.navBlock
{
	float: left;
	height: 140px;
	width: 33%;
	border-left: 1px solid black;
	background-color: White;
}
.navTitle, .navSubLink
{
	display: block;
	margin: 5px auto 5px auto;
	text-align: center;	
	color: Black;
}
.navTitle
{
	font: 2.5em black;
	font-variant: small-caps;
}
.HomeIsActive #homeNavBlock,
.BeekIsActive #beekNavblock,
.MyStuffIsActive #myStuffNavBlock
{
	background-color: #E70505; /* Make it red */
	height: 141px; /* No bottom border and make the background run down to the content block*/
}

.HomeIsActive #homeNavBlock .navTitle,
.BeekIsActive #beekNavblock .navTitle,
.MyStuffIsActive #myStuffNavBlock .navTitle
{
	color: white;	
}
.HomeIsActive #homeNavBlock .navTitle:hover,
.BeekIsActive #beekNavblock .navTitle:hover,
.MyStuffIsActive #myStuffNavBlock .navTitle:hover
{
	color: Black;
}
.HomeIsActive #homeNavBlock .navSubLink:hover,
.BeekIsActive #beekNavblock .navSubLink:hover,
.MyStuffIsActive #myStuffNavBlock .navSubLink:hover
{
	color:White;
}
/************CONTENT****************************/
#content
{
	padding: 0px 10px 10px 10px;
	background-color: White;
}