html, body
{
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
	background-color: #272222;
	background-image: url("/content/pics/bgndStripes.png");
	font-family: "century gothic";
}
#page
{
	width: 780px;
	height: 100%;
	margin: 0 auto 0px auto;
	background-color: White;
}
/***********HEADER****************/
#header
{
	height: 150px;
	background-color: #272222;
	background-image: url("/content/pics/bgndStripes.png");
}
#header a
{
	text-decoration: none;
}
#logo
{
	width: 150px;
	height:150px;
	float: left;
	background-image: url("/content/pics/logo.jpg");
	border-bottom: 1px solid black;
}
#navigation
{
	margin-top: 10px;
	width: 630px; /*780-150 = 630*/
	height: 140px;
	background-color: White;
	float: left;
	z-index: -1;
	border-bottom: 1px solid black;
}
.HomeIsActive #homeNavBlock
{
	background-color: #E70505;
	height: 141px;
}
.HomeIsActive #homeNavBlock .navTitle
{
	color: White;
}
.HomeIsActive #homeNavBlock .navTitle:hover, .navSubLink:hover
{
	color: Black;
}

.BeekIsActive #beekNavblock
{
	background-color: #E70505;
	height: 141px;
}
.BeekIsActive #beekNavblock .navTitle
{
	color: White;
}
.BeekIsActive #beekNavblock .navTitle:hover, .navSubLink:hover
{
	color: Black;
}

.MyStuffIsActive #myStuffNavBlock
{
	background-color: #E70505;
	height: 141px;
}
.MyStuffIsActive #myStuffNavBlock .navTitle
{
	color: White;
}
.MyStuffIsActive #myStuffNavBlock .navTitle:hover, .navSubLink:hover
{
	color: Black;
}

/* Because the navblocks' width is in %, we get a rounding error so the total != 100%       */
/* All browsers have a different way of handling this error so we cheat our way out         */
/* by making the background the same color as the foreground, when the last box is selected */
.myStuffIsActive
{
	background-color: #E70505;
}
.MyStuffIsActive #myStuffNavBlock
{
	background-color: #E70505;
	height: 141px;
}
.MyStuffIsActive #myStuffNavBlock .navTitle
{
	color: White;
}
.MyStuffIsActive #myStuffNavBlock .navTitle:hover, .navSubLink:hover
{
	color: Black;
}

.navBlock
{
	float: left;
	height: 140px;
	width: 33%;
	border-left: 1px solid black;
	background-color: White;
}
.navTitle
{
	display: block;	
	margin: 5px auto 5px auto;
	text-align: center;
	
	font: 2em black;
	font-variant: small-caps;
	color: Black;	
}
.navSubLink
{
	display: block;
	display: block;	
	margin: 5px auto 5px auto;
	text-align: center;
	color: Black;
}
.navSubLink:hover,.navTitle:hover
{
	color: Red;
}
/************navLogin***********************/
#navLoginForm
{
	text-align: left;
	float: left;
	width: 100%;
}
#navLoginInputs
{
	float: left;
	padding-left: 10px;
}
#navLoginForm input[type="image"]
{	
	float: right;
	width: 32px;
}

/************CONTENT****************************/
#content
{
	/*margin-top: -1500px;*/
	padding: 0px 10px 10px 10px;
	background-color: White;
}
