#logo
  %a{href="#"}
    %img{alt="Beekweb logo depicting a letter B" src="../../content/pics/logo.png"}
%ul.navBlock.activeNavBlock
  %li
    %a{href="#"}
      Beek
      %ul
        %li
          test
        %li
          test2
%ul.navBlock
  %li
    %a{href="#"}
      Search
      %ul
        %li
          test
        %li
          test2
%li
    %a{href="#"}
      My Stuff
      %ul
        %li
          test
        %li
          test2