^ var title=""
!!! XML
!!! Strict
%html{xmlns="http://www.w3.org/1999/xhtml"}
  %head
    %title
      Beek #{title}      
    _styles
  %body#page
    #header
      _header
    #content
      _
    #footer
      _footer
  _scripts