@{Page.Title = "Beek - Search";}

<form>
  <fieldset>
    <legend>Looking for something?</legend>
    <ol>
      <li>
        <label for="title">Title</label>
        <input id="title" name="title" type="text" placeholder="What was the title of the book?" required autofocus/>
      </li>
      <li>
        <label for="author">Author</label>
        <input id="author" name="author" type="text" placeholder="Maybe know who wrote it?" required/>
      </li>
    </ol>
    <fieldset>
      <button type=submit>Search</button>
    </fieldset>
  </fieldset>
</form>