#logo
  %a{href="#"}
    %img{alt="Beekweb logo depicting a letter B" src="../../content/pics/logo.png"}
%ul.navBlock.activeNavBlock
  %li
    %a{href="#"}
      Beek
  %li
    %ul
      %li
        Add
      
%ul.navBlock
  %li
    %a{href="#"}
      Search
      
      
%ul.navBlock          
  %li
    %a{href="#"}
      My Stuff
      