<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage<BaseBeekViewData>" %>

<html lang="en">
  <head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Beek <asp:ContentPlaceHolder ID="Title" runat="server"/></title>
    <%=Html.PrintStyleSheet("site")%>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" >
    <asp:ContentPlaceHolder ID="Css" runat="server"/>  
  </head>
  <body>
    <div id="page">
      <%Html.RenderAction<HeaderController>(a => a.Header(Model.NavBlock));%>
      <div id="content">
        <div id="scrollWrapper">
          <asp:ContentPlaceHolder ID="Main" runat="server"/>
        </div>
      </div>    
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <div style="display:none" id="applicationRoot"><%=Request.ApplicationPath%></div>
    <asp:ContentPlaceHolder ID="Js" runat="server"/>
  </body>
</html>