^title += "- home - index"
- StyleSheetHelper.AddStyleSheet("index");
- ScriptHelper.AddScript("search");
%h1
  search
#searchForm
  %form{action="#"}
    %div
      %label{for="titleStartsWith"}
        Title:
      %input{type="text" name="beekSearchbag.BeekTitleStartsWith" id="titleStartsWith"}
    
  